{% extends 'base.html' %}
{% load static %}
{% block title %}MicroTarjetas cards{% endblock %}
{% block content %}

 
<div>
    <h2>Cards</h2>
    <table>
        <thead>
            <tr>
                <th>EN</th>
                <th>ES</th>
            </tr>
        </thead>
        <tbody>
            {% for card in cards %}
            <tr>
                <td>{{ card.word_en }}</td>
                <td>{{ card.word_es }}</td>
                <td>{{ card.deck }}</td>
                <td><a href="{% url 'update_card' card.pk %}">Update</a></td>
                <td><a href="{% url 'delete_card' card.pk %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <a href="{% url 'create_card' %}" style="display:inherit";>Create New Card</a>
</div>
<div>{{randomcard.word_en}}</div>

{% endblock %}