{% extends 'base.html' %}
{% load static %}
{% block title %}MicroTarjetas decks{% endblock %}
{% block content %}

 
<div>
    <h2>Decks</h2>
    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for deck in decks %}
            <tr>
                <td>{{ deck.pk }}</td>
                <td>{{ deck.name }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <a href="{% url 'create_deck' %}" style="display:inherit";>Create New Deck</a>
</div>

{% endblock %}